# Shared infrastructure
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Internship Watcher Notification Configuration
INTERNSHIP_WATCHER_NTFY_HOST_URL=https://ntfy.sh
INTERNSHIP_WATCHER_NTFY_JOBS_ALERT_TOPIC=my_secret_internship_topic
INTERNSHIP_WATCHER_NTFY_DEV_LOGS_TOPIC=my_secret_error_topic
INTERNSHIP_WATCHER_IGNORE_JOBS_BEFORE_DATE=2026-09-20T00:00:00Z
SUPABASE_ACTION_FUNCTION_URL=https://your-project-id.supabase.co/functions/v1/action-handler
